.main-header {
  position: relative;
  background: #181823;
  &__wrap {
    height: 8.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 7.2rem;
    transform: translateX(-15px);
    padding-right: 30rem;
    background: #000;
    @media screen and (max-width: 992px) {
      padding-right: 20rem;
    }
    @media screen and (max-width: 576px) {
      padding-right: 10rem;
    }
  }
  .logo {
    height: 2.4rem;
  }
  &__main-menu {
    position: relative;
    @media screen and (max-width: 768px) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }
  &__sandwich {
    display: none;
    @media screen and (max-width: 768px) {
      position: absolute;
      right: 3rem;
      display: inline-flex;
    }
  }
}
