.main-header {
  position: relative;
  background: #181823;
  &__block {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 8.8rem;
    background: #000;
    z-index: 1;
    @media screen and (max-width: 768px) {
      z-index: 3000;
    }
  }
  &__wrap {
    height: 8.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    position: relative;
    height: 2.4rem;
    z-index: 2;
    @media screen and (max-width: 768px) {
      z-index: 3000;
    }
  }
  &__main-menu {
    position: relative;
    @media screen and (max-width: 768px) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }
  &__sandwich {
    display: none;
    @media screen and (max-width: 768px) {
      position: absolute;
      right: 3rem;
      display: inline-flex;
    }
  }
}
