.form {
  &__group {
    margin-bottom: 4rem;
  }
  label {
    display: block;
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    color: #fff;
  }
  &__input {
    padding: 1.4rem 2rem;
    width: 100%;
    font-size: 1.6rem;
    color: #fff;
    // text-indent: 2rem;
    background: var(--text-dark);
    border: none;
    outline: none;
  }
  textarea {
    padding: 1.4rem 2rem;
    width: 100%;
    height: 10rem;
    font-size: 1.6rem;
    color: #fff;
    background: var(--text-dark);
    border: none;
    outline: none;
  }
  input[type="submit"] {
    padding: 24px 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    background: #5221e6;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      box-shadow: 0 0 14px rgba(255, 255, 255, 0.3);
    }
    @media screen and (max-width: 768px) {
      padding: 18px 32px;
    }
  }
}
