.dribbble {
  padding: 12rem 0;
  background: #000;
  @media screen and (max-width: 576px) {
    padding: 8rem 0;
  }
  &__title {
    margin-bottom: 2.4rem;
  }
  &__text {
    margin-bottom: 4rem;
    width: 70rem;
  }
  &__link {
    display: inline-block;
    margin-bottom: 12.4rem;
    padding-bottom: 0.4rem;
    line-height: 1.5;
    color: #fff;
    border-bottom: 1px solid var(--text-color);
    transition: color .3s ease;
    &:hover {
      color: var(--text-color);
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 8rem;
    }
  }
  &__img {
    display: block;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
  }
}
