.experience {
  padding: 13rem 0 14.1rem;
  background: #000;
  &__label {
    margin-bottom: 0.9rem;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--text-color);
  }
  &__title {
    margin-bottom: 3.4rem;
    max-width: 76rem;
    font-weight: 700;
    font-size: 5.5rem;
    line-height: 1.2;
    color: #fff;
  }
  &__wrap {
    display: flex;
    margin: 0 -1.2rem;
  }
  &__item {
    flex: 0 0 calc(100% / 3 - 2.4rem);
    margin: 0 1.2rem;
  }
  &__number {
    font-weight: 400;
    font-size: 11.7rem;
    line-height: 1.4;
    color: var(--text-color);
  }

  &__subtitle {
    margin-bottom: 2.2rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.5;
    color: #fff;
    &--color-0 {
      strong {
        color: #3cc74e;
      }
    }
    &--color-1 {
      strong {
        color: #609bff;
      }
    }
    &--color-2 {
      strong {
        color: #e95d90;
      }
    }
  }

  &__text {
    max-width: 89%;
  }
}
