.philosophy {
  position: relative;
  height: 62.5rem;
  background: #fff;
  &__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  &__content {
    max-width: 44%;
  }
  &__title {
    margin-bottom: 1.9rem;
    padding-top: 12rem;
    font-weight: 700;
    font-size: 5.5rem;
    color: var(--text-dark);
  }
  &__text {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #5b6876;
  }
  &__link {
    border-bottom: 1px solid #8491a0;
    padding-bottom: 0.4rem;
    margin-top: 13.4rem;
    display: inline-flex;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-dark);
    opacity: 0.4;
    transition: opacity .3s ease;
    &:hover {
      opacity: 1;
    }
  }
}
